<!DOCTYPE html>
<html>
<head>
    <title>NevBar</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="nevbar.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.531/jquery.min.js">
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h3><i class="fa fa-bars"></i></h3>
        <a class ="sub-btn" href="Regester.html"><i class="fa fa-address-book">&emsp;</i><b>Add Record</b><i class="fa fa-angle-right dropdown"></i></a>

        <a class ="sub-btn" href="Update.html"><i class="fa fa-pencil-square-o">&emsp;</i><b>Update Record</b><i class="fa fa-angle-right dropdown"></i></a>

        <a class ="sub-btn" href="#"><i class="fa fa-search">&emsp;</i><b>Find Record</b><i class="fa fa-angle-right dropdown"></i></a>

        <a class ="sub-btn" href="#"><i class="fa fa-trash">&emsp;</i><b>Delete Record</b><i class="fa fa-angle-right dropdown"></i></a>

    </div>
    <div class="main_content">
        <div class="header">
            <ul class="breadcrumb">

                <li>WELCOME</li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;
                <li><a href="#"><i class="fa fa-info-circle">&emsp;</i>PROFILE</a>&emsp;&emsp;</li>
                <li><a href="login.html"><i class="fa fa-sign-out">&emsp;</i>LOGOUT</a></li>
            </ul>
        </div>

    </div>
</div>
</body>
</html>
